*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.logo{
    font-size: 25px;
    font-weight: 700;
}
.container{
    font-family: courier;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
nav {
    z-index: 11;
}
.fanta{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
}
img{
    position: absolute;
}
.cloud1{
    top: 10%;
    right: 10%;
    mix-blend-mode: overlay;
}
.cloud2{
    top: 18%;
    left: 20%;
    mix-blend-mode: overlay;
}
.cloud3{
    top: 10%;
    left: 10%;
    mix-blend-mode: overlay;
}
.boat{
    left: 40%;
}